{% load static from staticfiles %}

<!DOCTYPE html>
<html>

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Login - Biblio</title>
    <link rel="stylesheet" href="{% static 'bootstrap/css/bootstrap.min.css' %}">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Lato:400,700,400italic">
    <link rel="stylesheet" href="{% static 'fonts/font-awesome.min.css' %}">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Comfortaa|Kodchasan|Nunito+Sans|Rubik">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Cookie">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Open+Sans:400,300,600,700">
    <link rel="stylesheet" href="{% static 'css/styles.css' %}">
    <link rel="stylesheet" href="{% static 'css/Pretty-Header.css' %}">
    <link rel="stylesheet" href="{% static 'css/Hero-Technology.css' %}">
    <link rel="stylesheet" href="{% static 'css/Mockup-MacBook-Pro.css' %}">
    <link rel="stylesheet" href="{% static 'css/Pretty-Registration-Form.css' %}">
    <link rel="stylesheet" href="{% static 'css/Pretty-Footer.css' %}">
    <link rel="stylesheet" href="{% static 'css/Pretty-Header-1.css' %}">
    <link rel="stylesheet" href="{% static 'css/Data-Table.css' %}">
    <link rel="stylesheet" href="{% static 'css/Data-Table2.css' %}">
    <link rel="stylesheet" href="{% static 'css/Highlight-Clean.css' %}">
    <link rel="stylesheet" href="https://cdn.datatables.net/1.10.15/css/dataTables.bootstrap.min.css">
    <link rel="stylesheet" href="{% static 'css/Login-Form-Clean.css' %}">
    <link rel="stylesheet" href="{% static 'css/Sidebar-Menu.css' %}">
    <link rel="stylesheet" href="{% static 'css/Sidebar-Menu1.css' %}">
</head>

<body>
    <div class="row register-form">
        <div class="col-md-12">
            <nav class="navbar navbar-light navbar-expand-md custom-header">
                <div class="container-fluid"><a class="navbar-brand custom-brand" href="#">biblio</a><button class="navbar-toggler" data-toggle="collapse" data-target="#navbar-collapse"><span class="sr-only">Toggle navigation</span><span class="navbar-toggler-icon"></span></button>
                    <div
                        class="collapse navbar-collapse" id="navbar-collapse">
                        <ul class="nav navbar-nav links">
                            <li class="nav-item" role="presentation"><a class="nav-link" href="#">About Us</a></li>
                        </ul>
                </div>
        </div>
        </nav>
    </div>
    </div>
    <div class="login-clean">

            <h2 class="sr-only">Login Form</h2>
            <div class="illustration">
                <p class="form-logo">biblio</p>
                <div style="display: inline-block;">
                    <ul class="nav nav-tabs" style="padding: 20px;align-items:center;justify-content:center;">
                      <li class="nav-item"><a class="nav-link active" role="tab" data-toggle="tab" href="#tab-1">User Login</a></li>
                      <li class="nav-item"><a class="nav-link" role="tab" data-toggle="tab" href="#tab-2">Admin Login</a></li>
                    </ul>
                    <div class="tab-content">
                        <div class="tab-pane active" role="tabpanel" id="tab-1">
                          <form method="post">
                            <div class="form-group"><input class="form-control" type="email" id="user-email" name="email" placeholder="Email"></div>
                            <div class="form-group"><input class="form-control" type="password" id="user-password" name="password" placeholder="Password"></div>
                            <div class="form-group"><button class="btn btn-primary btn-block" id="user-login-form-btn" role="button" type="button">Login User</button></div>
                          </form>
                        </div>
                        <div class="tab-pane" role="tabpanel" id="tab-2">
                          <form method="post" id="admin-login-form">
                            <div class="form-group"><input class="form-control" type="email" id="admin-email" name="email" placeholder="Email"></div>
                            <div class="form-group"><input class="form-control" type="password" id="admin-password" name="password" placeholder="Password"></div>
                            <div class="form-group"><button class="btn btn-primary btn-block" id="admin-login-form-btn" role="button" type="button">Login Admin</button></div>
                          </form>
                        </div>
                    </div>
                    <div class="alert alert-danger" id="login-error-message-wrapper" style="display: none; font-size: 30px; margin-top: 20px;">
                        <strong>Login error: </strong><span id="login-error-message"></span>
                    </div>
                </div>
            </div>
    </div>
    <footer>
        <div class="row">
            <div class="col-sm-6 col-md-4 footer-navigation">
                <h3><a href="#" class="custom-brand">biblio</a></h3>
                <p class="company-name">Company Name © 2018</p>
            </div>
        </div>
    </footer>

    <script src="{% static 'js/jquery.min.js' %}"></script>
    <script src="{% static 'bootstrap/js/bootstrap.min.js' %}"></script>
    <script src="{% static 'https://cdn.datatables.net/1.10.15/js/jquery.dataTables.min.js' %}"></script>
    <script src="{% static 'https://cdn.datatables.net/1.10.15/js/dataTables.bootstrap.min.js' %}"></script>
    <script src="{% static 'js/Sidebar-Menu.js' %}"></script>
    <script src="{% static 'js/verification.js' %}"></script>

    <script type="text/javascript">

    $("#user-login-form-btn").click(function(event) {

      if ($("#user-email").val() == "" || $("#user-password") == "") {

        $("#login-error-message").show();
        $("#login-error-message").html("Credentials cannot be empty");

      }

      $.ajax({

        url: "http://localhost:8000/api/auth/token",

        data: {

          email: $("#user-email").val(),
          password: $("#user-password").val()

        },

        type: "POST",

        success: function(response) {

          setJWTToken(response.access, response.refresh);

          window.location.href = "http://localhost:8000/user-dashboard";

        },

        error: function(response) {

          $("#login-error-message-wrapper").show();

          $("#login-error-message").html(response.non_field_errors);

        }

      });

    });

    $("#admin-login-form-btn").click(function(event) {

      if ($("#admin-email").val() == "" || $("#admin-password") == "") {

        $("#login-error-message").show();
        $("#login-error-message").html("Credentials cannot be empty");

      }

      $.ajax({

        url: "http://localhost:8000/api/auth/token",

        data: {

          email: $("#admin-email").val(),
          password: $("#admin-password").val()

        },

        type: "POST",

        success: function(response) {

          setJWTToken(response.access, response.refresh);

          window.location.href = "http://localhost:8000/admin-dashboard";

        },

        error: function(response) {

          $("#login-error-message-wrapper").show();

          $("#login-error-message").html(response.non_field_errors);

        }

      });

    });
    </script>
</body>
</html>
